[submodule "niutilities"]
	path = niutilities
	url = git@bitbucket.org:oriadev/niutilities.git
[submodule "library"]
	path = library
	url = git@bitbucket.org:oriadev/library.git
[submodule "connector"]
	path = connector
	url = git@bitbucket.org:oriadev/connector.git
[submodule "nitools"]
	path = nitools
	url = git@bitbucket.org:oriadev/nitools.git
[submodule "HCP"]
	path = HCP
	url = git@bitbucket.org:oriadev/hcp.git
