[submodule "general"]
	path = general
	url = git@bitbucket.org:mnap/general.git
[submodule "niutilities"]
	path = niutilities
	url = git@bitbucket.org:mnap/niutilities.git
[submodule "matlab"]
	path = matlab
	url = git@bitbucket.org:mnap/matlab.git
[submodule "library"]
	path = library
	url = git@bitbucket.org:mnap/library.git
[submodule "hcpmodified"]
	path = hcpmodified
	url = git@bitbucket.org:mnap/hcpmodified.git
[submodule "connector"]
	path = connector
	url = git@bitbucket.org:mnap/connector.git
