[submodule "niutilities"]
	path = niutilities
	url = git@bitbucket.org:hidradev/niutilities.git
[submodule "library"]
	path = library
	url = git@bitbucket.org:hidradev/library.git
[submodule "hcpmodified"]
	path = hcpmodified
	url = git@bitbucket.org:hidradev/hcpmodified.git
[submodule "connector"]
	path = connector
	url = git@bitbucket.org:hidradev/connector.git
# [submodule "hcpextendedpull"]
#	path = hcpextendedpull
#	url = git@bitbucket.org:hidradev/hcpextendedpull.git
[submodule "nitools"]
	path = nitools
	url = git@bitbucket.org:hidradev/nitools.git
