@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('fonts/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('fonts/Roboto-BlackItalic.ttf');
}

:root {
	--pst-font-size-h1: 32px !important;
	--pst-font-size-h2: 26px !important;
	--pst-font-size-h3: 22px !important;
	--pst-font-size-h4: 18px !important;
	--pst-font-size-h5: 16px !important;
	--pst-font-family-base: "Roboto" !important;
	--pst-font-family-base-system: var(--pst-font-family-base);
	--font-family-sans-serif: var(--pst-font-family-base);
	--qunex-blue: #0f4d92;
	--qunex-orange: #ff6600;
}

@media (max-width: 768px) {
    #site-navigation,
    .bd-toc {
        margin-top: 52px !important;
        padding-top: 8px !important;
    }

    .bd-toc li {
        font-size: .85em !important;
    }
}

#site-navigation {
    width: 300px !important;
    font-size: 14px;
}

#site-navigation .bd-sidebar__bottom {
    margin-bottom: calc(2em + 142px) !important; /* default + .heading height */
}

.navbar-brand-box {
    display: none !important;
}

.sig {
    display: none !important;
}

.heading-style, h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem !important;
}

#main-content p a,
/* not sure about h1 to h4 */
/*
h1 a,
h2 a,
h3 a,
h4 a,
*/
.prev-next-title,
.toctree-wrapper.compound a /* not sure about this one (used in List of commands) */
{
    color: var(--qunex-orange) !important;
}

.toc-entry>.nav-link.active {
    color: rgba(var(--pst-color-link),1) !important;
    border-left: 2px solid rgba(var(--pst-color-link),1) !important;
}

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
main code,
.sig-name,
.fas {
    color: var(--qunex-blue) !important;
}

.caption a {
    color: rgba(var(--pst-color-sidebar-caption),1);
}

.caption a:hover,
.caption a.active {
    color: rgba(var(--pst-color-link),1);
    background-color: transparent;
    text-decoration: none;
}

